<div class="col-md-6">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Country
            <div class="dropdown" (click)="$event.stopPropagation()" style="float: right" dropdown>
              <button id="btnSearchBatch" dropdownToggle class="changeType dropdown-toggle" type="button" data-toggle="dropdown"></button>
              <div class="dropdown-menu prop" *dropdownMenu aria-labelledby="btnSearchBatch" style="width: 250px; padding: 15px;">
                <div class="text-right">
                  <a href="#" class="filterlink" (click)="clearAll('Country')">Clear All</a> | <a href="#" class="filterlink" data-dismiss="modal">Close(X)</a>
                </div>
                <form>
                  <input type="text" name="text" class="form-control input-sm" [(ngModel)]="XLfilters.dict['Country'].searchText" placeholder="Filter by Country" />
                  <div>
                    <a href="#" class="filterlink" (click)="markAll('Country',true)">Select All</a> | <a href="#" class="filterlink" (click)="markAll('Country',false)">Select None</a>
                  </div>
                  <div class="options">
                    <ul style="list-style-type: none; padding: 0">
                      <li *ngFor="let item of itemFilter('Country') ; let i = index">
                        <input name="countryOption" id="countryOption{{i}}" type="checkbox" [(ngModel)]="XLfilters.dict['Country'].dict[item.name].checked" />&nbsp;<label for="countryOption{{i}}">{{item.name}}</label>
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </th>
          <th>City
            <div class="dropdown" (click)="$event.stopPropagation()" style="float: right" dropdown>
              <button id="btnSearchBatch" dropdownToggle class="changeType dropdown-toggle" type="button" data-toggle="dropdown"></button>
              <div class="dropdown-menu prop" *dropdownMenu aria-labelledby="btnSearchBatch" style="width: 250px; padding: 15px;">
               <div class="text-right">
                 <a href="#" class="filterlink" (click)="clearAll('City')">Clear All</a> | <a href="#" class="filterlink" data-dismiss="modal">Close(X)</a>
               </div>
               <form>
                  <input type="text" name="text" class="form-control input-sm" [(ngModel)]="XLfilters.dict['City'].searchText" placeholder="Filter by City" />
                  <div>
                    <a href="#" class="filterlink" (click)="markAll('City',true)">Select All</a> | <a href="#" class="filterlink" (click)="markAll('City',false)">Select None</a>
                  </div>
                  <div class="options">
                    <ul style="list-style-type: none; padding: 0">
                      <li *ngFor="let item of itemFilter('City'); let i = index">
                        <input name="cityOption" id="cityOption{{i}}" type="checkbox" [(ngModel)]="XLfilters.dict['City'].dict[item.name].checked" />&nbsp;<label for="cityOption{{i}}">{{item.name}}</label>
                      </li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <ng-container  *ngIf="rowFilter(emp)">
            <td>{{emp.Country}}</td>
            <td>{{emp.City}}</td>
            <td>{{emp.Name}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>